
{{#partial "title"}}
    Check out my travel photos! <!--ovverride the layout title-->
{{/partial}}
{{#partial "content"}}
    <title>Favorite photos!</title>

    <h1> My Fvourite places</h1>
    <ul>
        <li><img src='/images/2.2landscape.jpg' alt='landscape photo'/></li>
        <br><br>
        <li><img src='/images/water-nature.jpg' alt='water body'/></li>
        </ul>
{{/partial}}

{{> layout.hbs}}